Diginotes/\.vs/Diginotes/v15/

Diginotes/Client/App\.config

Diginotes/Client/bin/Debug/Client\.exe

*.pdb

*.dll

*.csproj

Diginotes/Client/obj/Debug/Client\.csproj\.CopyComplete

*.exe

*.cache

*.resources

Diginotes/Client/obj/Debug/

Diginotes/Client/Properties/

Diginotes/Diginotes\.sln

Diginotes/Common/obj/Debug/

Diginotes/Test/obj/Debug/

Diginotes/Server/obj/Debug/

Diginotes/Server/bin/Debug/

Diginotes/Registry/obj/Debug/User\.csproj\.FileListAbsolute\.txt

Diginotes/Registry/bin/Debug/

*.xaml

Diginotes/Diginotes/obj/Debug/
Diginotes/Registry/App\.config

Diginotes/Registry/Properties/Settings\.Designer\.cs

Diginotes/Registry/Properties/Settings\.settings
